{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
	<div class="card p-4" style="width: 500px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); border-radius: 20px; background-color: var(--primary-color);">
		<h2 class="text-center mb-4 text-white">Register</h2>
		<form method="POST">
			<!-- Name Input -->
			<div class="mb-4 d-flex align-items-center" style="position: relative;">
				<label for="name" class="form-label visually-hidden">Name</label>
				<i class="bi bi-person" style="position: absolute; left: 5px; font-size: 1.8rem; color: black; width: 50px; text-align: center;"></i>
				<input type="text" id="name" name="name" class="form-control ps-5" placeholder="Name" required
					style="background-color: #F6F6F6; border: none; height: 55px; border-radius: 30px; padding-left: 70px;">
			</div>
			<!-- Email Input -->
			<div class="mb-4 d-flex align-items-center" style="position: relative;">
				<label for="email" class="form-label visually-hidden">Email</label>
				<i class="bi bi-envelope" style="position: absolute; left: 5px; font-size: 1.8rem; color: black; width: 50px; text-align: center;"></i>
				<input type="email" id="email" name="email" class="form-control ps-5" placeholder="Email" required
					style="background-color: #F6F6F6; border: none; height: 55px; border-radius: 30px; padding-left: 70px;">
			</div>
			<!-- Password Input -->
			<div class="mb-4 d-flex align-items-center" style="position: relative;">
				<label for="password" class="form-label visually-hidden">Password</label>
				<img src="{{ url_for('static', filename='images/padlock.png') }}" alt="Password Icon"
					style="position: absolute; left: 15px; height: 30px; width: 30px; text-align: center;">
				<input type="password" id="password" name="password" class="form-control ps-5" placeholder="Password" required
					style="background-color: #F6F6F6; border: none; height: 55px; border-radius: 30px; padding-left: 70px;">
			</div>
			<!-- Links -->
			<div class="d-flex justify-content-between">
				<a href="/login" class="text-decoration-none " style="color: var(--secondary-color);">Already have an account? Log in</a>
			</div>
			<!-- Submit Button -->
			<button type="submit" class="btn btn-primary w-100 mt-4" style="height: 55px; border-radius: 30px;">Register</button>
		</form>
	</div>
</div>
{% endblock %}
